<h1>Search Flights</h1>

<%= form_with url: root_path, method: :get do %>
  <div>
    <%= label_tag :departure_airport, "Departure Airport:" %>
    <%= select_tag :departure_airport, options_for_select(@airport_options, @search_params[:departure_airport]), { include_blank: "--" } %>
  </div>

  <div>
    <%= label_tag :arrival_airport, "Arrival Airport:" %>
    <%= select_tag :arrival_airport, options_for_select(@airport_options, @search_params[:arrival_airport]), { include_blank: "--" } %>
  </div>

  <div>
    <%= label_tag :date, "Departure Date:" %>
    <%= select_tag :date, options_for_select(@date_options, @search_params[:date]), { include_blank: "--" } %>
  </div>

  <div>
    <%= label_tag :passengers, "Passengers*:" %>
    <%= select_tag :passengers, options_for_select((1..4).map { |i| [i, i] }, @search_params[:passengers]), { include_blank: "--", required: true } %>
  </div>

  <%= submit_tag "Search", name: "" %>
<% end %>

<% if @results %>
  <h1>Results</h1>


  <%= form_with url: new_booking_path, method: :get, class: "flight-booking" do %>
    <%= hidden_field_tag :passengers, @search_params[:passengers] %>

    <ul class="results">
      <% @results.each do |flight| %>
        <li>
          <%= radio_button_tag "flight", flight.id %>
          <%= link_to "#{flight.departure_airport.code} - #{flight.arrival_airport.code}", flight_path(flight) %>
          <%=h " | " %>Date: <%= flight.date.strftime("%H:%M %d/%m/%Y") %> | Duration: <%= flight.duration %>
        </li>
      <% end %>
    </ul>

    <%= submit_tag "Create Booking", name: "" %>
  <% end %>
<% end %>