<h1>Create Booking</h1>

<h2>Flight Details</h2>

<%= render @flight %>

<h2>Passenger Details</h2>

<%= form_with model: @flight, scope: :create_booking, url: bookings_path, method: :post do |f| %>
  <%= f.hidden_field :flight, value: @flight.id %>

  <div class="field-group">
    <%= f.fields_for :passengers, @passengers do |f_nest| %>
      <h3>Passenger <%= f_nest.index + 1 %></h3>

        <div class="field">
          <%= f_nest.label :name, "Name:" %>
          <%= f_nest.text_field :name %>
        </div>

        <div class="field">
          <%= f_nest.label :email, "Email:" %>
        <%= f_nest.email_field :email %>
      </div>

      <% if f_nest.object.errors.any? %>
        <div class="error-explanation">
          <ul>
          <% f_nest.object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>

    <%= f.submit "Create #{"Booking".pluralize(@passengers)}", name: "" %>
  </div>
<% end %>
