<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div class="left">
        <%= link_to root_path do %>
          <div class="logo">
            <h1>Flight Booker</h1>
          </div>
        <% end %>
      </div>
      <div class="right">
        
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
